<a href="https://colab.research.google.com/github/Dnyaneshn/Dnyanesh/blob/main/Problem_Statement_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Write a program that computes the net amount of a bank account based on a transaction log from console input.
The transaction log / sample input is in the format as shown below:

Input log_message = D:100 W:10

Output 90

Input Log_message = D:100 W:200 D:400

Output 300 (100 - 200 + 400 = 300)

In [1]:
log_message = input("Enter transaction log: ")
transactions = log_message.split()
balance = 0

for transaction in transactions:
    if transaction.startswith('D:'):
        balance += int(transaction[2:])
    elif transaction.startswith('W:'):
        balance -= int(transaction[2:])

print(balance)

Enter transaction log: D:100 W:200 D:400
300